.image-display {
  border-radius: 16px;
}

@media (max-width: 955px) {
  .image-display {
    width: 171px;
    height: 171px;
  }
}

@media (max-width: 620px) {
  .image-display {
    width: 85px;
    height: 85px;
  }
}
